$azul: #2e5790;
$azul-to: #2E3092;
$azul-accent: #1a61be;
$amarelo-to: #fec30b;
$verde-to: #07CB82;
$menu: #FFD58A;
$maxwidth: 1364px;

html {
	font-size: 10px !important;
	font-family: "Roboto",sans-serif !important;
	color: #333;
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2.5rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 2rem;
	}
	h6 {
		font-size: 1.8rem;
	}
	a {
		color: #333;
		&:hover {
			opacity: .8;
		}
		&:focus-visible {
			outline: 4px solid #000;
		}
	}
}
body {
	font-size: 1.6rem !important;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Roboto",sans-serif !important;
	color: #333;
}

[vw] {
	right:unset !important;
	left:0;
}

[vw] [vw-access-button] .access-button:hover + .pop-up {
    width: 100px;
    position: absolute;
    right: -110px;
    visibility: visible;
}

[vw] [vw-access-button] .pop-up {
    right: -110px;
    position: absolute;
    visibility: hidden;
    width: 100px !important;
}

[vw] {
	[vw-access-button] {
		.access-button {
			border: 2px solid #fff;
			border-radius: 14px;
		}
	}
}
.menu {
	&::-webkit-scrollbar {
		width: 12px;
		padding: 0 4px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px #161744;
	}
	&::-webkit-scrollbar-thumb {
		background: #fff;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.5);
	}
}
body.portal {
	background-color: #f9f9f9 !important;
	overflow-x: unset !important;
}
.btn-ghost {
	border: 1px solid #333;
	padding: 10px 15px;
	font-size: 1.8rem;
	text-decoration: none !important;
}
.btn-more {
	background: $amarelo-to;
	color: $azul-to;
	padding: 16px;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 600;
}
header {
	// height: 60px;
	height: fit-content;
	color: #fff;
	width: 100%;
	background: $azul-to;
	top: 0;
	right: 0;
	z-index: 2;
	position: relative;
	padding: 5px 10px;


	@media screen and (max-width: 1060px){
		.govnav{
			grid-template-columns: 60px auto 120px !important;
			grid-template-rows: 1fr auto;
			height: 100% !important;

			&-orgao{
				grid-row: 1 / 2; 
				grid-column: 1 / 4;
				text-align: center;
			}

			.search{
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}

			.menu-btn{
				grid-row: 2 / 3;
				grid-column: 3 / 4;
			}
		}

		.search-box{
			width: calc(100% + 20px) !important;
			max-width: calc(100% + 20px) !important;
			
			.search-field-box{
				height: 50px !important;
			}
			input{
				margin-bottom: 0 !important;
			}
			&.show-search-box {
				transform: translate(0) !important;
				opacity: 1;
				right: -10px;
				width: calc(100% + 20px) !important;
				max-width: calc(100% + 20px) !important;
				form{

				}
			}
		}

	}

	.header-container {
		width: 100%;
		max-width: 1400px !important;
		margin: 0 auto;
		height: 100%;
		position: relative;
	}
	.row {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;
		&:after {
			content: none !important;
		}
	}
	a {
		color: #fff;
		i {
			font-size: 3rem !important;
		}
	}
	.logo-gov {
		height: 70px;
		img {
			height: 100%;
		}
	}
	.site-title {
		font-size: 2.5rem;
		font-weight: 500;
	}
	// .govnav {
	// 	display: flex;
	// 	justify-content: flex-end;
	// 	align-items: center;
	// 	height: 50px;
	// 	z-index: 3;
	// }
	.govnav {
		display: grid;
		grid-template-columns: auto 60px 120px;
		align-items: center;
		height: 100%;
		z-index: 3;
		width: 100%;

		&-orgao{
			justify-content: flex-start;
			font-size: clamp(1.8rem, 1.3636rem + 1.2121vw, 3rem);
			font-weight: 500;
			width: fit-content;
		}
	}
	.menu-btn {
		display: flex;
		align-items: center;
		height: 50px;
		width: 120px;
		background: $amarelo-to;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
			text-transform: uppercase;
			font-size: 12px;
			position: relative;
			transition: all .3s ease-in-out;
			color: $azul-to;
			i {
				font-size: 32px !important;
			}
			&:hover {
				opacity: 1;
			}
			&:focus-visible {
				opacity: 1;
			}
		}
		&:hover {
			background: #fecf3e;
		}
		&:focus-visible {
			background: #fecf3e;
		}
	}
	.search {
		display: flex;
		align-items: center;
		height: 50px;
		height: 50px;
		width: 60px;
		margin-right: 5px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			width: 100%;
			justify-content: center;
			i {
				font-size: 32px !important;
			}
			&:hover {
				opacity: 1;
				i {
					text-shadow: 0 1px 10px rgba(255,255,255,.8);
				}
			}
			&:focus-visible {
				opacity: 1;
				i {
					text-shadow: 0 1px 10px rgba(255,255,255,.8);
				}
			}
		}
	}
	.search-btn {
		width: 60px;
		flex-direction: column;
		&:hover {
			background: #282a7f;
		}
		&:focus-visible {
			background: #282a7f;
		}
		i {
			padding-top: 8px;
			line-height: 20px;
		}
	}
	.menu-btn.show-menu {
		a {
			&:before {
				transform: translateY(0px);
				opacity: 1;
			}
		}
	}
	.menu {
		position: absolute;
		width: 100vw;
		max-width: 700px;
		height: auto;
		max-height: 0px;
		top: calc(100% - 5px);
		right: 0;
		background: #22236b;
		color: #fff;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 6;
		display: flex;
		justify-content: center;
		pointer-events: none;
		opacity: 1;
		transition: all .3s ease-in-out;
		box-shadow: 0 5px 10px rgba(0,0,0,.3);
		visibility: hidden;
		* {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		a {
			text-transform: uppercase;
			&:before {
				text-transform: initial !important;
			}
			&:focus-visible {
				text-transform: initial !important;
				opacity: 1 !important;
			}
			&:hover {
				opacity: 1 !important;
			}
		}
		#site-menu {
			width: 100%;
			max-width: 1364px;
			height: auto;
			a {
				color: #fff;
				font-size: 1.8rem;
				border-right: 0;
			}
			.menu-content {
				float: left;
				width: 100%;
				transition: height .3s ease-in-out;
				position: relative;
			}
			.banner-menu {
				width: 100%;
				a {
					float: left;
					width: 100%;
					background: #efb501;
				}
				img {
					float: left;
					width: 100%;
					&:hover {
						opacity: .9;
					}
				}
			}
			.main-menu {
				margin: 0;
				float: left;
				width: 100%;
				height: 100%;
				max-width: 1364px;
				font-size: 18px;
				min-height: 400px;
				li a {
					line-height: 1;
				}
				li.has-children {
					.submenu-header {
						color: #333;
						font-weight: 500;
						height: 50px;
						width: 100%;
						display: grid;
						grid-template-columns: auto 50px;
						a {
							height: 50px;
						}
						a.submenu-accordion-switch {
							display: inline-flex;
							justify-content: center;
							align-items: center;
							color: $amarelo-to;
							position: relative;
							&:hover {
								color: #333;
							}
							&:before {
								content: "";
								width: 1px;
								height: 36px;
								position: absolute;
								background: rgba(255,255,255,.2);
								top: 10px;
								left: 0;
							}
						}
					}
					&:hover {
						.children-content {
							background: #fecf3e !important;
						}
						>a {
							color: #333;
							background: $amarelo-to;
							&:before {
								color: #333;
							}
						}
					}
					>a {
						position: relative;
					}
				}
				li.has-children.show-submenu {
					height: auto !important;
					.children-content {
						opacity: 1 !important;
						visibility: visible !important;
						height: 100% !important;
						background: #fecf3e !important;
					}
				}
				>li {
					width: 100%;
					float: left;
					height: 50px;
					a {
						float: left;
						width: 100%;
						padding: 16px;
						&:hover {
							color: #333;
							font-weight: 500;
							background: #efb501;
						}
					}
					.children-content {
						background: #fff;
						width: 100%;
						float: left;
						overflow-y: auto;
						overflow-x: hidden;
						height: 0px;
						padding: 0 15px;
						opacity: 0;
						visibility: hidden;
						z-index: 1;
						.submenu-title {
							font-weight: 500;
							position: relative;
							font-size: 18px;
							float: left;
							width: 100%;
							background: rgba(255,255,255,.1);
							a {
								color: #333;
							}
						}
						>ul {
							-moz-column-count: 2;
							column-count: 2;
							float: left;
							width: 100%;
							li {
								float: left;
								width: 100%;
								font-weight: 500;
								-moz-column-break-inside: avoid;
								break-inside: avoid-column;
								a {
									color: #333;
									float: left;
								}
							}
							li.has-children {
								padding-bottom: 15px;
								a {
									&:before {
										transform: rotate(90deg);
										color: #333 !important;
									}
								}
								ul {
									float: left;
									width: calc(100% - 10px);
									background: #fedc71;
									margin-left: 10px;
									li {
										float: left;
										width: 100%;
										font-weight: 400 !important;
										a {
											&:hover {
												background: #ffe8a3 !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.menu.show-menu {
		-webkit-animation: showmenu .3s forwards;
		animation: showmenu .3s forwards;
		pointer-events: all;
		max-height: calc(100vh - 110px);
		visibility: visible;
	}
	.search-box {
		opacity: 0;
		position: absolute;
		width: 100%;
		max-width: 0px;
		height: auto;
		z-index: 5;
		bottom: -75px;
		background: #1c1e67;
		padding: 10px;
		right: -10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease-in-out;
		overflow: hidden;
		visibility: hidden;
		pointer-events: none;
		.search-content {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
			position: relative;
			transition: opacity .3s ease-in-out;
			form {
				width: 100%;
				float: left;
				opacity: 0;
				transition: all .3s ease-in-out;
				.search-field-box {
					width: 100%;
					overflow: hidden;
					position: relative;
					input#search-input {
						border: none !important;
						border-radius: 0 !important;
						margin-bottom: 0 !important;
					}
				}
				.search-field-box.focused {
					border-color: $azul-accent;
					button.search-submit {
						background: $azul-accent;
						color: #333;
					}
				}
			}
		}
	}
	.search-box.show-search-box {
		width: 700px;
		max-width: 504px;
		visibility: visible;
		pointer-events: all;
		opacity: 1;
		form {
			opacity: 1 !important;
		}
	}
}
.breadcrumbs-to {
	width: 100%;
	height: 60px;
	overflow: hidden;
	background: #f9f9f9;
	ul {
		margin: 0;
		display: inline-flex;
		align-items: center;
		height: 60px;
		position: relative;
		width: 100%;
		overflow: hidden;
		&:after {
			position: absolute;
			content: "";
			height: 100%;
			width: 30px;
			top: 0;
			right: -10px;
			background: linear-gradient(90deg, transparent 0%, #f9f9f9 40%);
		}
		li {
			position: relative;
			padding-left: 30px;
			height: 100%;
			display: flex;
			align-items: center;
			white-space: nowrap;
			&:not(:first-of-type) {
				&:before {
					content: "chevron_right";
					font-family: "Material Icons";
					font-size: 24px;
					color: #666;
					width: 30px;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					line-height: 60px;
					text-align: center;
				}
			}
			&:first-of-type {
				padding-left: 0;
			}
			a {
				color: $azul-to;
				&:hover {
					opacity: 1;
					text-decoration: underline;
				}
			}
			a[href^="#"] {
				color: #666;
				&:hover {
					text-decoration: none;
					cursor: text;
				}
			}
		}
	}
}
.categoria-news {
	color: #fff !important;
    background: $azul-accent;
    text-transform: uppercase !important;
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;
    width: fit-content;
    padding: 4px 8px;
	&:hover {
		opacity: 1;
		background: $azul-to;
	}
}
section.top-news {
	color: #fff;
	float: left;
	width: 100%;
	padding: 20px 10px 40px 10px;
	position: relative;
	overflow-x: hidden;
	z-index: 1;
	h1 {
		font-size: 4rem;
		font-weight: 500;
		color: #fff !important;
	}
	h2 {
		font-weight: 300 !important;
	}
	img {
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
		float: left;
		height: 100%;
		position: relative;
	}
	.mainnews {
		position: relative;
	}
	.mainnews.news1 {
		margin: 0 auto 20px auto;
		max-width: 1245px;
		width: 100%;
		height: 660px;
		border-radius: 0px !important;
		.headline {
			max-width: 1103px;
			position: absolute;
			padding: 10px 95px;
			bottom: 20px;
			font-weight: 700;
			z-index: 10;
			font-size: 3rem;
			.blurb {
				float: left;
				width: 100%;
				line-height: 150%;
				font-size: 2rem;
				font-weight: 300;
			}
		}
		a {
			float: left;
			width: 100%;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			&:hover {
				opacity: 1;
			}
			&:before {
				position: absolute;
				content: "";
				height: calc(100% + 50px);
				width: 100%;
				max-width: 700px;
				background: $amarelo-to;
				border-radius: 0px;
				top: -20px;
				left: -30px;
				pointer-events: none;
			}
			&:after {
				position: absolute;
				content: "";
				height: 60%;
				width: 100%;
				background: rgba(0,0,0,.5);
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0) 100%);
				border-radius: 0px;
				bottom: 0;
				left: 0;
			}
		}
	}
	.mainnews.news2, .mainnews.news3 {
		margin-bottom: 10px;
		position: relative;
		float: left;
		width: 100%;
		background: #fff;
		box-shadow: 3px 6px 10px rgba(0,0,0,.1);
		a {
			float: left;
		}
		.headline {
			font-weight: 500;
			font-size: 2rem;
			line-height: 33px;
			padding: 16px;
			min-height: 98px;
			&:hover {
				opacity: .8;
			}
		}
		.categoria-news {
			margin-top: -29px;
			z-index: 1;
		}
	}		
}
section.morenews {
	.morenews-card {
		font-size: 2rem;
	    font-weight: 500;
	    margin-bottom: 20px;
	    background: #fff;
	    padding: 16px;
	    display: inline-flex;
	    flex-direction: column;
	    width: 100%;
		box-shadow: 3px 6px 10px rgba(0,0,0,.1);
		a {
			&:not(.categoria-news) {
				float: left;
				margin-top: 8px;
			}
		}
	}
	.news-with-img {
		background: #fff;
		float: left;
		box-shadow: 3px 6px 10px rgba(0,0,0,.1);
		a {
			float: left;
		}
		.headline {
			font-weight: 500;
			font-size: 2.2rem;
			line-height: 33px;
			padding: 16px;
			&:hover {
				opacity: .8;
			}
		}
		.categoria-news {
			margin-top: -29px;
		}
		img {
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
			float: left;
			height: 100%;
			position: relative;
		}
	}
}
section.lastnews {
	margin-bottom: 100px;
	.section-title-box {
		display: inline-flex;
		justify-content: center;
		width: 100%;
	}
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		color: $azul-to;
		text-align: center;
		font-weight: 900;
		position: relative;
		margin: 60px 0 30px 0;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 29px;
			background: $amarelo-to;
			bottom: -6px;
			left: -20px;
			z-index: -1;
		}
	}
	ul {
		li {
			float: left;
			width: 100%;
			font-size: 18px;
			margin-bottom: 25px;
			&:last-of-type {
				margin-bottom: 0px;
			}
			a {
				font-weight: 700;
				font-size: 2.2rem;
				float: left;
				width: 100%;
				&:hover {
					color: $azul-accent;
				}
			}
		}
	}
}
section.newslist {
	margin-bottom: 50px;
	margin-top: 20px;
	a {
		text-decoration: underline;
	}
	.page-title {
		font-size: 30px;
		text-transform: uppercase;
		color: $azul-to;
		font-weight: 900;
		position: relative;
		margin: 60px 0 30px 0;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 29px;
			background: $amarelo-to;
			bottom: -6px;
			left: -20px;
			z-index: -1;
		}
	}
	h1 {
		font-size: 3rem;
		font-weight: 500;
	}
	.section-title-box {
		display: inline-flex;
		justify-content: center;
		width: 100%;
	}
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		color: $azul-to;
		text-align: center;
		font-weight: 900;
		position: relative;
		margin-bottom:30px;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 29px;
			background: $amarelo-to;
			bottom: -6px;
			left: -20px;
			z-index: -1;
		}
	}
	.news-card {
		float: left;
		width: 100%;
		margin-bottom: 25px;
		position: relative;
		background: #fff;
		box-shadow: 3px 6px 10px rgba(0,0,0,.1);
		padding: 16px;
		img {
			float: left;
			width: 100%;
		}
		.headline {
			float: left;
			font-size: 2rem;
			line-height: 110%;
			font-weight: 500;
			margin-top: 5px;
			width: 100%;
		}
		.blurb {
			float: left;
			width: 100%;
			font-weight: 400;
			font-size: 1.8rem;
		}
	}
	.categoria-tag {
		color: #fff !important;
		background: $azul-accent;
		text-transform: uppercase !important;
		text-decoration: none !important;
		font-weight: 500;
		float: left;
		font-size: 1.4rem;
		position: relative;
		width: auto;
		padding: 4px 4px;
	}
	.news-card--data {
		color: #171717 !important;
		background: #07cb82;
		text-transform: uppercase !important;
		font-weight: 500;
		float: left;
		font-size: 1.4rem;
		position: relative;
		width: auto;
		padding: 2px 4px;
		height: 29px;
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		margin-left: 8px;
		i {
			font-size: 2rem;
			margin-right: 4px;
		}
	}
}

section.news, section.page, section.togallery {
	margin-bottom: 50px;
	padding-top: 20px;
	float: left;
	width: 100%;
	a {
		text-decoration: underline;
	}
	.page-title {
		font-size: 30px;
		text-transform: uppercase;
		color: $azul-to;
		font-weight: 900;
		position: relative;
		margin: 60px 0 30px 0;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 29px;
			background: $amarelo-to;
			bottom: -6px;
			left: -20px;
			z-index: -1;
		}
	}
	.news_headline, .page_headline {
		border-bottom: 1px solid rgba(0,0,0,.1);
		margin-bottom: 30px;
		padding-bottom: 5px;
		h1 {
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.date {
			padding-left: 0px;
			color: #666;
		}
		.social {
			padding-right: 0px;
			a {
				width: 30px;
				float: right;
				margin: -6px 0 0 10px;
				img {
					width: 100%;
					opacity: .8;
					float: left;
				}
			}
		}
	}
	 
	.news_body, .page_body {
		.news_main_image, .page_main_image {
			float: left;
			width: 100%;
			img {
				width: 100%;
			}
			.caption {
				padding: 4px 10px 7px 10px;
				margin-bottom: 10px;
				font-size: 1.4rem;
				color: #555;
			}
		}
		.news_other_image, .page_other_image {
			float: left;
			width: 100%;
			padding: 15px 12.5%;
			img {
				width: 100%;
			}
			.caption {
				padding: 4px 10px 7px 10px;
				margin-bottom: 10px;
				font-size: 1.4rem;
				color: #555;
				padding: 4px 10px 7px 0px;
			}
		}
		
		.news_main_content, .page_main_content {
			font-size: 2rem;
			letter-spacing: -0.5px;
			line-height: 3.2rem;
			overflow-wrap: break-word;
			h1 {
				font-weight: 600;
			}
			h2 {
				font-weight: 600;
			}
			h3 {
				font-weight: 600;
			}
			h4 {
				font-weight: 600;
			}
			h5 {
				font-weight: 600;
			}
			h6 {
				font-weight: 600;
			}
			.page_extra_links, .page_extra_files {
				float: left;
				width: 100%;
				font-size: 1.8rem;
				margin-bottom: 16px;
				padding: 16px 0;
				border-top: 4px solid black;
				.page_extra--title {
					font-size: 2.2rem;
					font-weight: 500;
					display: inline-flex;
					i {
						margin-right: 10px;
					}
				}
				ul {
					width: 100%;
					float: left;
					display: grid;
					grid-template-columns: calc(50% - 5px) calc(50% - 5px);
					grid-gap: 10px;
					li {
						width: 100%;
						float: left;
						&:nth-of-type(2n+1) {
							margin-right: 10px;
						}
						a {
							width: 100%;
							display: inline-flex;
							flex-wrap: nowrap;
							color: $azul-accent;
							border-left: 6px solid $azul-accent;
							padding: 5px 10px;
							line-height: 140%;
							white-space: normal;
							align-items: flex-start;
							text-overflow: ellipsis;
							overflow: hidden;
							position: relative;
							transition: all .3s ease-in-out;
							text-decoration: none !important;
							&:hover{
								opacity: 1 !important;
							}
							i.material-icons {
								color: $azul-accent;
								margin-right: 5px;
							}
						}
					}
				}
			}
			.page_extra_links{
				ul li a{
					&:hover, &:focus-visible {
						background: #eaf0f9;
						color: $azul;
						
						i.material-icons{
							color: $azul;
						}
					}
				}
			}
			.page_extra_files {
				ul {
					li {
						a {
							border: none;
							display: grid;
							grid-template-columns: 60px 1fr;
							grid-template-rows: auto auto;
							background: $amarelo-to;
							color: #333;
							&:hover, &:focus-visible {
								background: lighten($amarelo-to, 15%);
							}
							i {
								grid-row: 1/3;
								font-size: 50px;
								color: #333 !important;
							}
							.page-extra--details {
								font-weight: 600;
								color: #6c5201;
							}
						}
					}
				}
			}
		}
	}

	.photos_grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 16px;
		grid-row-gap: 20px;
		width: 100%;
		max-width: 1364px;
		margin: 0 auto;
		figure.photo {
			margin: 0;
			width: 100%;
			height: 222px;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				z-index: 10;
				box-shadow: 0 3px 6px rgba(0,0,0,.2);
				figcaption {
					transform: translateY(0%);
					opacity: 1;
				}
			}
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
			figcaption {
				transition: all .3s ease-in-out;
				font-size: 16px;
				font-weight: 500;
				width: 100%;
				height: -webkit-fit-content;
				height: -moz-fit-content;
				height: fit-content;
				position: absolute;
				left: 0;
				bottom: 0;
				background: #fff;
				padding: 16px;
				box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
				z-index: 1;
				color: #333;
				transform: translateY(100%);
				opacity: 1;
			}
		}
		figure.photo.show-caption {
			z-index: 10;
			box-shadow: 0 3px 6px rgba(0,0,0,.2);
			figcaption {
				transform: translateY(0%);
				opacity: 1;
			}
		}
	}
	.photos_grid.first_9 {
		figure.photo {
			&:nth-of-type(1) {
				grid-column: 1/8;
				height: 500px;
			}
			&:nth-of-type(2) {
				grid-column: 8/13;
				height: 500px;
			}
			&:nth-of-type(3) {
				grid-column: 1/6;
				height: 400px;
			}
			&:nth-of-type(4) {
				grid-column: 6/13;
				height: 400px;
			}
			&:nth-of-type(5) {
				grid-column: 1/7;
				grid-row: 3/5;
				height: 464px;
			}
			&:nth-of-type(6) {
				grid-column: 7/10;
				grid-row: 3/3;
			}
			&:nth-of-type(7) {
				grid-column: 10/13;
				grid-row: 3/3;
			}
			&:nth-of-type(8) {
				grid-column: 7/10;
				grid-row: 4/4;
			}
			&:nth-of-type(9) {
				grid-column: 10/13;
				grid-row: 4/4;
			}
		}
	}
	.photos_grid.more_photos {
		margin: 16px auto;
		grid-template-columns: repeat(4, 1fr);
	}
}
section.banner {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
section.services-search {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	height: 270px;
	.service-search-box {
		.service-search-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			background: $azul-to;
			border-radius: 4px;
			height: 276px;
			padding: 50px 20px;
			box-shadow: 3px 3px 5px rgba(0,0,0,.15);
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				max-width: 270px;
				height: 362px;
				position: absolute;
				top: 24%;
				right: 0%;
				z-index: 0;
				opacity: .1;
				background-image: url(img/brasao_pb.svg);
			}
			h5 {
				position: relative;
				z-index: 2;
			}
			a {
				position: relative;
				z-index: 2;
				color: #fff;
				display: inline-flex;
				align-items: center;
				i#services-search-submit-icons {
					margin-left: 5px;
					font-size: 16px !important;
				}
			}
			form {
				position: relative;
				z-index: 2;
				width: 100%;
				float: left;
				max-width: 800px;
				.services-search-field-box {
					width: 100%;
					border: 2px solid $azul-to;
					border-radius: 50px;
					overflow: hidden;
					position: relative;
					display: grid;
					height: 46px;
					grid-template-columns: calc(100% - 50px) 50px;
					box-shadow: 2px 2px 7px rgba(0,0,0,.3);
					input#services-search-input {
						border: none !important;
						border-radius: 0 !important;
						font-size: 2rem !important;
					}
					button.services-search-submit {
						color: $azul-to;
						background: #fff;
						border: 0;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						height: 46px;
						i {
							font-size: 30px;
						}
						&:hover {
							background: #e1e1e1;
						}
					}
				}
			}
			h5.services-search-box--title {
				font-weight: 500;
				font-size: 3rem;
				color: #fff;
			}
		}
	}
	.servicos-list-box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px;
		.servico-card {
			height: 130px;
			padding: 10px;
			text-align: center;
			background: $amarelo-to;
			border-radius: 4px;
			box-shadow: 3px 3px 10px rgba(0,0,0,.15);
			transition: all .3s ease-in-out;
			position: relative;
			overflow: hidden;
			&:hover {
				box-shadow: none;
			}
			&:nth-of-type(1) {
				background: #f79d29;
			}
			&:nth-of-type(2) {
				background: #f79d29;
			}
			&:nth-of-type(3) {
				background: #f79d29;
			}
			a {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				float: left;
				width: 100%;
				height: 100%;
				&:hover {
					opacity: 1 !important;
					.servico-card--desc {
						opacity: 1;
						height: 100%;
						transform: translateY(0%);
					}
					.servico-card--tipo {
						transform: translateY(400%);
						opacity: 0;
					}
					.servico-card--titulo {
						transform: translateY(400%);
						opacity: 0;
					}
				}
			}
			.servico-card--tipo {
				transform: translateY(0%);
				transition: all .5s ease-in-out;
				background: $azul-to;
				color: #fff;
				border-radius: 15px;
				padding: 2px 10px;
				font-size: 1.4rem;
			}
			.servico-card--titulo {
				transform: translateY(0%);
				transition: all .5s ease-in-out;
			}
			.servico-card--desc {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				height: 100%;
				width: 100%;
				padding: 5px 10px;
				text-align: left;
				transition: all .5s ease-in-out;
				transform: translateY(-100%);
				opacity: 0;
				overflow: hidden;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
				&:before {
					content: "launch";
					width: 24px;
					height: 24px;
					font-family: "Material icons";
					font-size: 24px;
					position: absolute;
					top: 4px;
					right: 4px;
					line-height: 24px;
					color: rgba(0,0,0,.7);
				}
			}
		}
	}
}
.banner-govto {
	width: 100% !important;
	max-width: 1000px;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	img {
		width: 100%;
		//margin-bottom: 20px;
		-o-object-fit: contain !important;
		object-fit: contain !important;
	}
	.splide {
		margin-top: 10px;
		margin-bottom: 0px;
		.splide__pagination {
			bottom: -10px;
		}
		.splide__pagination__page.is-active {
			background: $amarelo-to !important;
			opacity: 1;
		}
	}
	.splide__list {
		display: inline-flex;
	    justify-content: center;
		width: 100%;
    }
}
.links_temp {
	display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
	margin-top: 10px;
	a {
		text-align: center;
		display: inline-flex;
		float: left;
		margin: 20px 0 20px 0;
	}
	span {
		background: #259551;
		padding: 10px 14px;
		border-radius: 20px;
		color: #fff;
		border: 1px solid rgba(0,0,0,.2);
	}
}
form {
	.input-group {
		display: flex;
		flex-flow: row wrap;
		margin-top: 10px;
		float: left;
		background: transparent;
		label {
			display: inline-flex;
			align-items: center;
			min-height: 35px;
			span {
				font-size: 14px !important;
				border-radius: 20px;
				padding: 0 10px 0 20px;
			}
			&:first-of-type {
				[type=radio]+span {
					margin-right: 10px;
				}
			}
			[type=radio] {
				&:checked+span {
					&:before {
						opacity: 1 !important;
						width: 16px !important;
						padding: 0 !important;
						height: 16px !important;
						z-index: 1;
					}
				}
			}
			[type=radio]+span {
				color: #fff;
				background: transparent;
				padding: 0px 8px !important;
				height: 100% !important;
				line-height: 150% !important;
				text-align: center;
				display: inline-flex;
				align-items: center;
				&:before {
					opacity: 0 !important;
					width: 16px !important;
					padding: 0 !important;
					height: 16px !important;
					color: #f6c62d !important;
					border: none;
					background: transparent !important;
					transition: all 0s ease-in-out;
					top: 4px;
					left: 2px;
					content: "check_circle";
					font-family: "Material Icons";
					font-size: 17px;
				}
				&:after {
					opacity: 1 !important;
					width: 16px !important;
					padding: 0 !important;
					height: 16px !important;
					border-color: #f6c62d !important;
					transform: scale(1);
					top: 6px;
					left: 2px;
				}
			}
		}
	}
}
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0,0,0,.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	border-radius: 35px;
	display: none;
	transition: all .3s ease;
	z-index: 1;
	i {
		color: #fff;
		margin: 0;
		position: relative;
		left: 11px;
		top: 11px;
		font-size: 28px;
		transition: all .3s ease;
	}
	&:hover {
		background: rgba(0,0,0,.9);
		i {
			color: #fff;
			top: 5px;
		}
	}
}
@media screen and (max-width: 600px) {
	html {
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2.6rem;
			font-size: 2.5rem !important;
		}
		h3 {
			font-size: 2.3rem;
			font-size: 2.2rem !important;
		}
		h4 {
			font-size: 2.1rem;
		}
		h5 {
			font-size: 1.9rem;
		}
		h6 {
			font-size: 1.7rem;
		}
	}
	body {
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2.6rem;
			font-size: 2.5rem !important;
		}
		h3 {
			font-size: 2.3rem;
			font-size: 2.2rem !important;
		}
		h4 {
			font-size: 2.1rem;
		}
		h5 {
			font-size: 1.9rem;
		}
		h6 {
			font-size: 1.7rem;
		}
	}
	header {
		.site-title {
			font-size: 1.9rem;
			line-height: 2.2rem;
		}
		.menu-btn {
			justify-content: center;
			a {
				border-right: 0 !important;
			}
		}
		.menu.show-menu {
			max-height: calc(100vh - 250px);
		}
		.menu {
			#site-menu {
				.main-menu {
					.show-submenu {
						>a {
							background: #efb501 !important;
						}
					}
					.children-content {
						background: #fff !important;
						ul {
							-moz-column-count: 1 !important;
							column-count: 1 !important;
						}
					}
				}
			}
		}
		.search-box {
			.search-content {
				form {
					#search-input {
						height: 52px !important;
					}
				}
			}
		}
	}
	.categoria-news {
		padding: 4px !important;
		font-size: 1.1rem;
		height: 29px;
		line-height: 24px;
	}
	.container {
		padding: 0 !important;
	}
	section.topnews {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	section.top-news {
		&:before {
			max-height: 200px;
			width: 90%;
		}
		.row {
			.container {
				.col.s12.m6 {
					padding: 0px !important;
				}
			}
		}
		.mainnews.news1 {
			height: auto !important;
			a {
				display: flex;
				flex-direction: column-reverse;
				height: auto;
				&:after {
					opacity: 0 !important;
				}
			}
			.headline {
				color: #333 !important;
				position: relative !important;
				float: left;
				width: 100%;
				padding: 0px !important;
				margin-bottom: 5px;
				margin-top: 30px;
				font-size: 1.9rem !important;
				line-height: 150% !important;
				&:before {
					left: 0 !important;
				}
			}
			.blurb {
				display: none;
			}
		}
		.mainnews {
			img {
				position: relative;
				height: 200px;
			}
		}
		h1 {
			font-size: 2rem;
		}
		.mainnews.news2 {
			margin-bottom: 20px;
			.headline {
				font-size: 1.8rem !important;
				line-height: 150% !important;
			}
		}
		.mainnews.news3 {
			margin-bottom: 20px;
			.headline {
				font-size: 1.8rem !important;
				line-height: 150% !important;
			}
		}
	}
	section.morenews {
		.container {
			display: flex;
			flex-direction: column-reverse;
		}
		.headline {
			font-size: 1.8rem !important;
			line-height: 150% !important;
		}
		.morenews-card {
			font-size: 1.8rem !important;
			line-height: 150% !important;
		}
		.news-with-img {
			margin-bottom: 25px !important;
			float: left;
			img {
				height: 200px !important;
			}
		}
	}
	section.lastnews {
		li {
			a {
				line-height: 150% !important;
				font-size: 1.8rem !important;
			}
			span {
				line-height: 150% !important;
				font-size: 1.6rem !important;
			}
		}
	}
	section.news {
		.news_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.page_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.news_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.page_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.news_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.page_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.news_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.page_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.social {
			>a {
				margin: -6px 0 5px 10px !important;
			}
		}
	}
	section.page {
		.news_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.page_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.news_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.page_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.news_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.page_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.news_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.page_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.social {
			>a {
				margin: -6px 0 5px 10px !important;
			}
		}
	}
	section.togallery {
		.news_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.page_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
			h4 {
				font-size: 2.2rem !important;
			}
		}
		.news_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.page_headline {
			h1 {
				font-size: 3rem !important;
			}
			.date {
				font-size: 1.4rem !important;
			}
		}
		.news_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.page_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.news_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.page_main_content {
			padding: 0 10px !important;
			font-size: 1.8rem !important;
		}
		.social {
			>a {
				margin: -6px 0 5px 10px !important;
			}
		}
		padding: 0 10px;
		.photos_grid {
			grid-template-columns: 100% !important;
			figure.photo {
				height: 300px !important;
				figcaption {
					opacity: 1 !important;
					transform: translateY(0%) !important;
				}
			}
		}
		.photos_grid.first_9 {
			margin-top: 20px;
			figure.photo {
				grid-column: unset !important;
				grid-row: unset !important;
			}
		}
	}
	section.services-search {
		height: auto;
		
		.service-search-box {
			width: 100% !important;
			margin-bottom: 10px !important;
		}
		.servico-card {
			height: auto !important;
			min-height: 80px !important;
			text-align: left !important;
			a {
				align-items: flex-start !important;
				&:hover {
					.servico-card--desc {
						display: none;
					}
					.servico-card--tipo {
						transform: unset !important;
						opacity: 1 !important;
					}
					.servico-card--titulo {
						transform: unset !important;
						opacity: 1 !important;
					}
				}
			}
		}
	}
	section.newslist {
		h1 {
			font-size: 3rem !important;
		}
		.news-card {
			display: flex;
			flex-direction: column-reverse;
			margin-bottom: 40px !important;
			h4 {
				font-size: 1.8rem !important;
				line-height: 2.7rem !important;
			}
			.blurb {
				font-size: 1.6rem !important;
			}
		}
		.news-card--text {
			padding: 0 !important;
		}
		.categoria-tag {
			font-size: 1.1rem !important;
			height: 29px;
			line-height: 24px;
			padding: 4px !important;
			text-decoration: none !important;
		}
		.news-card--data {
			font-size: 1.1rem !important;
			height: 29px;
			line-height: 24px;
			padding: 4px !important;
			text-decoration: none !important;
		}
		h2 {
			&:before {
				height: 19px !important;
			}
		}
	}
	.banner-govto {
		float: left;
		padding: 0;
	}
}
@media screen and (max-width: 800px) {
	header {
		.logo-gov {
			height: 90px;
			padding: 10px 0;
		}
		.menu {
			#site-menu {
				.main-menu {
					width: 100%;
					border-right: 0;
					padding-bottom: 10px;
					min-height: auto !important;
				}
			}
		}
		.search-box {
			form {
				max-width: 100% !important;
			}
		}
	}
	section.services-search {
		.servicos-list-box {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
}
@media screen and (min-width: 600px) {
	header {
		.search-box {
			.search-content {
				form {
					.search-field-box {
						input#search-input {
							font-size: 2rem !important;
							height: 52px !important;
							padding: 12px 16px 14px !important;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.breadcrumbs-to {
		padding: 0 10px;
		font-size: 16px;
		border-bottom: 0;
		ul {
			li {
				padding-left: 30px !important;
				display: none !important;
				&:nth-last-of-type(2) {
					display: flex !important;
				}
				&:before {
					font-size: 20px !important;
					width: 20px !important;
					content: "chevron_left" !important;
					color: #666;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					text-align: center;
				}
			}
		}
	}
}
@media only screen and (min-width: 1280px) {
	body.portal {
		.container {
			width: 100% !important;
			max-width: 1364px !important;
		}
	}
}
@media screen and (min-width: 600px)and (max-width: 800px) {
	section.top-news {
		.headline {
			font-size: 2rem !important;
			line-height: 150% !important;
			.blurb {
				font-size: 1.7rem !important;
			}
		}
	}
	section.morenews {
		.headline {
			font-size: 2rem !important;
			line-height: 150% !important;
		}
		.morenews-card {
			font-size: 2rem !important;
			line-height: 150% !important;
		}
	}
	section.lastnews {
		li {
			a {
				line-height: 150% !important;
				font-size: 2rem !important;
			}
			span {
				line-height: 150% !important;
				font-size: 1.8rem !important;
			}
		}
	}
	section.services-search {
		.servicos-list-box {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			.servico-card {
				display: none;
				&:nth-of-type(2) {
					background: $amarelo-to !important;
					display: block;
				}
				&:nth-of-type(1) {
					display: block;
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	section.top-news {
		.mainnews.news1 {
			a {
				&:before {
					max-width: 120% !important;
					width: calc(100% + 50px) !important;
				}
			}
		}
	}
	section.news, section.page, section.togallery {
		.news_body, .page_body {
			.news_main_content, .page_main_content {
				.page_extra_links, .page_extra_files {
					ul {
						grid-template-columns: 100%;
					}
				}
			}
		}
	}
	
}
@media screen and (min-width: 1400px) {
	section.top-news {
		.mainnews.news1 {
			max-width: 1400px;
			height: 750px;
			.headline {
				padding: 0px !important;
				font-size: 40px !important;
				&:before {
					left: 165px;
				}
			}
		}
	}
}
@media screen and (min-width: 800px)and (max-width: 1024px) {
	section.services-search {
		.servicos-list-box {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			.servico-card {
				&:nth-of-type(1) {
					background: #efa228;
				}
				&:nth-of-type(2) {
					background: #efa228;
				}
				&:nth-of-type(3) {
					background: $amarelo-to !important;
				}
				&:nth-of-type(5) {
					display: none;
				}
				&:nth-of-type(6) {
					display: none;
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	section.newslist {
		.news-card {
			&:hover {
				&:before {
					content: "";
					position: absolute;
					top: -3%;
					left: 0;
					width: 100%;
					height: 106%;
					background: rgba(0,0,0,.04);
					z-index: -1;
				}
			}
		}
	}
}
@media screen and (min-width: 600px)and (max-width: 900px) {
	section.togallery {
		.photos_grid.more_photos {
			grid-template-columns: repeat(3, 1fr) !important;
		}
	}
}

section.news, section.page, section.togallery{
	a{
	    text-decoration: underline #2e5790 2px;
	    color: #2e5790;
	}
}

section.systems-search {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	height: 308px;
	overflow: hidden;

	.container{
		padding: 0 14px;
	}

	.system-bg {
		background: $azul-to;
		display: inline-block;
		padding: 16px 4px;
		border-radius: 4px;
		width: 100%;
	}

	@media screen and (max-width: 600px) {
		height: auto;

		// aqui

		.systems-list-box {
			grid-gap: 0px;
			grid-column-gap: 10px;
		}

		.system-search-box {
			width: 100% !important;
			margin-bottom: 10px !important;
		}

		.system-card {
			height: auto !important;
			min-height: 80px !important;
			text-align: left !important;
			a {
				align-items: flex-start !important;
				&:hover {
					.system-card--desc {
						display: none;
					}
					.system-card--tipo,
					.system-card--titulo {
						transform: unset !important;
						opacity: 1 !important;
					}
				}
			}
		}
	}

	.system-search-box {
		
		.system-search-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			border-radius: 4px;
			height: 270px;
			padding: 50px 20px;
			position: relative;
			

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				max-width: 270px;
				height: 362px;
				position: absolute;
				top: 24%;
				right: 0%;
				z-index: 0;
				opacity: 0.1;
				background-image: url(img/brasao_pb.svg);
			}

			a {
				color: #fff;

				display: inline-flex;
				align-items: center;
				i#systems-search-submit-icons {
					margin-left: 5px;
					font-size: 16px !important;
				}
			}

			h5.systems-search-box--title {
				font-weight: 500;
				font-size: 3rem;
				color: #fff;
			}
			form {
				width: 100%;
				float: left;
				max-width: 800px;

				.systems-search-field-box {
					width: 100%;
					border: 2px solid $azul-to;
					border-radius: 50px;
					overflow: hidden;
					position: relative;
					display: grid;
					height: 46px;
					grid-template-columns: calc(100% - 50px) 50px;
					box-shadow: 2px 2px 7px rgba(black, 0.3);

					input#systems-search-input {
						border: none !important;
						border-radius: 0 !important;
						font-size: 2rem !important;
					}
					button.systems-search-submit {
						color: $azul-to;
						background: #fff;
						border: 0;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						height: 46px;
						i {
							font-size: 30px;
						}
						&:hover {
							background: #e1e1e1;
						}
					}
				}
			}
		}
	}
	.systems-list-box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 16px;

		@media screen and (min-width: 800px) and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			.system-card {
				&:nth-of-type(5),
				&:nth-of-type(6) {
					display: none;
				}
			}
		}

		@media screen and (min-width: 600px) and (max-width: 800px) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			.system-card {
				display: none !important;
				&:nth-of-type(1),
				&:nth-of-type(2) {
					display: block !important;
				}
			}
		}

		@media screen and (max-width: 800px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}

		.system-card {
			height: 130px;
			text-align: center;
			background: #ececec;
			border-bottom: 10px solid $amarelo-to;
			border-radius: 4px;
			box-shadow: 0 0 5px rgba(black, 0.2);
			transition: all 0.3s ease-in-out;
			position: relative;
			overflow: hidden;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			&:hover {
				box-shadow: 0 0 10px rgba(black, 0.45);
				opacity: 1;

				&:before {
					max-height: 100% !important;
				}
			}

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				max-height: 0%;
				background: $amarelo-to;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: 0.3s ease-in-out all;
			}

			.system-card--tipo,
			.system-card--titulo {
				transform: translateY(0%);
				transition: all 0.5s ease-in-out;
			}
		}
	}
}