$azul: #2E3092;
$amarelo: #FEC30B;

html.to-gov-barra {
    font-size: 10px;
    box-sizing: border-box;
  
    * {
      box-sizing: border-box;
  
      &:before, &:after {
        box-sizing: border-box;
      }
    }
  
    body {
      margin: 0px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }
  }
  
  footer.rodape_togov {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #fff;
    height: 350px;
    float: left;
    width: 100%;
    opacity: 1;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 1.4rem;
  
    a {
      text-decoration: none;
    }
  
    ul {
      list-style-type: none;
    }
  
    .logo_footer {
      float: left;
      width: 100%;
      height: 100px;
  
      .content {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 20px 100px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
      }
  
      img {
        height: 60px;

      }

      .desenvolvido-por {
        text-transform: initial;
        display: inline-flex;
        align-items: center;

        span {
          width: 83px;
          text-align: right;
          margin-right: 10px;
          line-height: 14px;
        }

        img {
          width: 90px;
          height: 51px;
        }

      }
    }
  
    .links_footer {
      float: left;
      width: 100%;
      background: $azul;
      height: 250px;
      padding: 80px 200px;

      @media screen and (max-width: 600px){
        height: 260px !important;
      }

      @media screen and (max-width: 1200px){
        padding: 80px 80px;
      }
      
  
      a {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        i {
            font-size: 40px;
            color: $amarelo;
          margin-bottom: 16px;
        }
      }
  
      ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        width: 100%;
        justify-content: center;
  
        li {
            width: calc(100%/4);
            padding: 0 8px;
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    footer.rodape_togov {
    //   height: 266px !important;
    overflow-y: hidden;
  
      .logo_footer {
        width: 100% !important;
        height: 100px !important;
        margin-bottom: 20px;
        overflow-y: hidden;
        
        .content {
            float: left !important;
            width: 100% !important;
            text-align: center !important;
            padding: 20px 16px !important;
  
          img {
            float: unset !important;
            clear: both;
          }
  
          address {
            width: 100%;
            font-size: 2rem !important;
            margin-bottom: 40px;
          }
        }
      }
  
      .links_footer {
        padding-bottom: 10px;
        overflow: hidden;
        width: 100% !important;
        padding: 20px 80px;
        
        ul {
            display: block !important;
            
            li{
                float: left;
                width: calc(100%/2) !important;
                padding: 16px;
                a{
                    font-size: 14px !important;
                }
            }
          
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .links_footer {
        padding: 0px 4px !important;
        ul {
            display: block !important;
            
            li{
                float: left;
                width: calc(100%/2) !important;
                padding: 16px;
                a{
                    font-size: 14px !important;
                }
            }
          
        }
      }
  }