html.to-gov-barra {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}
html.to-gov-barra * {
  box-sizing: border-box;
}
html.to-gov-barra *:before, html.to-gov-barra *:after {
  box-sizing: border-box;
}
html.to-gov-barra body {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
@media screen and (max-width: 930px) {
  html.to-gov-barra body {
    width: 100vw;
  }
}

.topo-togov-wrapper {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border-top: 5px solid #ffc409;
}
@media screen and (max-width: 1060px) {
  .topo-togov-wrapper {
    height: 80px;
  }
}
.topo-togov-wrapper .topo-togov-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 80px;
  align-items: center;
  padding: 0 10px;
}
@media screen and (max-width: 600px) {
  .topo-togov-wrapper .topo-togov-content {
    height: 60px;
  }
  .topo-togov-wrapper .topo-togov-content .topo-links-site {
    height: 60px;
    max-width: 292px;
  }
  .topo-togov-wrapper .topo-togov-content .topo-links-site img {
    height: 100% !important;
    max-height: 50px;
    width: 100%;
    max-width: 142px;
  }
}
@media screen and (max-width: 1060px) {
  .topo-togov-wrapper .topo-togov-content {
    padding: 8px;
    grid-template-columns: auto 44px;
    grid-template-rows: 1fr;
    align-items: center;
  }
  .topo-togov-wrapper .topo-togov-content .topo-mobile-menu-btn {
    display: inline-flex !important;
  }
  .topo-togov-wrapper .topo-togov-content ul.nav-social-links,
.topo-togov-wrapper .topo-togov-content .nav-main-links {
    display: none !important;
  }
  .topo-togov-wrapper .topo-togov-content .topo-links-site {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }
  .topo-togov-wrapper .topo-togov-content .logo {
    height: 80px;
  }
  .topo-togov-wrapper .topo-togov-content .logo img {
    height: 70px;
  }
}
.topo-togov-wrapper .topo-togov-content .topo-links-site {
  display: inline-flex;
  align-items: center;
  grid-row: 1/3;
}
.topo-togov-wrapper .topo-togov-content .topo-links-site a:not(.logo) {
  margin-right: 10px;
}
.topo-togov-wrapper .topo-togov-content .topo-links-site img {
  height: 60px;
}
.topo-togov-wrapper .topo-togov-content .logo {
  display: inline-flex;
  align-items: center;
  margin-right: 0px;
}
.topo-togov-wrapper .topo-togov-content .logo span.logo--nome {
  width: 100%;
  max-width: 200px;
  text-align: right;
  margin-right: 16px;
  font-weight: 400;
  font-size: 15px;
}
.topo-togov-wrapper .topo-togov-content .logo img {
  height: 70px;
}
.topo-togov-wrapper .topo-togov-content .logo:hover {
  background: none;
  opacity: 0.8;
}
.topo-togov-wrapper .topo-togov-content i.menu-btn {
  display: none;
}
.topo-togov-wrapper .topo-togov-content ul.nav-social-links {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
  float: right;
  margin-bottom: 4px;
  justify-self: end;
}
.topo-togov-wrapper .topo-togov-content ul.nav-social-links li {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}
.topo-togov-wrapper .topo-togov-content ul.nav-social-links li img {
  height: 32px;
  width: 32px;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links {
  align-self: flex-start;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
  float: right;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li:before {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background: black;
  z-index: 1;
  top: -5px;
  left: 45%;
  opacity: 0;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-content .nav-main-links ul li:before {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li:hover {
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-content .nav-main-links ul li:hover {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li:hover:before {
  opacity: 1;
  left: 0;
  width: 100%;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li.menu-title {
  display: none !important;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li a {
  padding: 12px 8px;
  white-space: nowrap;
  height: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-content .nav-main-links ul li a {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li a:hover {
  background: #eef2f3;
}
.topo-togov-wrapper .topo-togov-content .nav-main-links ul li a.topo-togov-orgaos-trigger {
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 1060px) {
  .topo-togov-wrapper .topo-togov-content .nav-main-links ul li a.topo-togov-orgaos-trigger i {
    transform: rotateX(-90deg) !important;
  }
}
.topo-togov-wrapper a {
  color: #333;
  text-decoration: none;
}
.topo-togov-wrapper a:focus {
  outline: none;
}
.topo-togov-wrapper a:focus-visible {
  outline: 2px solid #000;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 16px;
  overflow-y: scroll;
  padding-bottom: 50px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  pointer-events: none;
  user-focus: none;
  visibility: hidden;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-orgaos-wrapper {
    transition: none !important;
  }
}
@media screen and (max-width: 1060px) {
  .topo-togov-wrapper .topo-togov-orgaos-wrapper {
    top: 85px;
    height: calc(100vh - 85px);
    width: 90%;
    max-width: 360px;
    left: auto;
    right: 0;
    transform: translateY(0%) translateX(100%) !important;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper.show-all-orgaos {
    transform: translateX(0%) !important;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-list {
    -moz-column-count: 1 !important;
         column-count: 1 !important;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-list li {
    margin-bottom: 26px !important;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-content {
    padding: 1rem 2rem !important;
  }
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper.show-all-orgaos {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
  visibility: visible;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close {
  background: none;
  border: none;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close span {
  display: inline-flex;
  align-items: center;
  color: #555;
}
@media screen and (min-width: 1060px) {
  .topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close {
    width: 44px;
    position: absolute;
    top: 20px;
    right: 1rem;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close span {
    display: none;
  }
  .topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close > i {
    display: block !important;
  }
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close > i {
  display: none;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close:hover, .topo-togov-wrapper .topo-togov-orgaos-wrapper button#topo-togov-orgaos-close:focus-visible {
  background: #f1f1f1;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-content {
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-filter {
  width: 600px;
  max-width: 80%;
  margin: 20px auto 64px;
  text-align: center;
  position: relative;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-filter input#topo-togov-orgaos-filter-field {
  -moz-appearance: none;
  /* older firefox */
  -webkit-appearance: none;
  /* safari, chrome, edge and ie mobile */
  appearance: none;
  padding: 12px 14px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #f6c62d;
  width: 100%;
  -moz-outline: none;
  /* older firefox */
  -webkit-outline: none;
  /* safari, chrome, edge and ie mobile */
  outline: none;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-filter input#topo-togov-orgaos-filter-field:focus {
  box-shadow: 0 0 3px 2px #00b1ff inset;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgaos-filter i#topo-togov-orgaos-filter-btn {
  position: absolute;
  color: #666;
  right: 10px;
  top: 9px;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group {
  width: 100%;
  margin: 0 auto 80px auto;
  max-width: 1200px;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group h2 {
  font-weight: 700;
  position: relative;
  padding-left: 20px;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group h2:before {
  content: "";
  height: 100%;
  width: 7px;
  background: #ffc409;
  position: absolute;
  top: 0;
  left: 0;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list {
  -moz-column-count: 3;
       column-count: 3;
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li {
  margin-bottom: 24px;
  font-weight: 500;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a {
  line-height: 1.5;
  position: relative;
  z-index: 0;
  text-decoration: none;
  background-image: linear-gradient(#ffc409, #ffc409);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:hover, .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:focus-visible {
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:hover, .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:focus-visible {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:hover:before, .topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list li a:focus-visible:before {
  width: 85%;
  left: 0;
}
.topo-togov-wrapper .topo-togov-orgaos-wrapper .topo-togov-orgao-group .topo-togov-orgao-list a {
  width: 100%;
  margin-bottom: 10px;
}
.topo-togov-wrapper .topo-mobile-menu-btn {
  display: none;
  background: #ffc409;
  border: none;
  color: #000;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.topo-togov-wrapper .topo-mobile-menu {
  width: 90%;
  max-width: 360px;
  height: calc(100vh - 85px);
  background: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  top: 85px;
  right: 0;
  z-index: 90;
  padding: 1rem 2rem;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-mobile-menu {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-mobile-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.topo-togov-wrapper .topo-mobile-menu.show + .topo-mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}
.topo-togov-wrapper .topo-mobile-menu + .topo-mobile-menu-overlay {
  position: absolute;
  height: calc(100vh - 85px);
  width: 100vw;
  top: 85px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 85;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
@media (prefers-reduced-motion) {
  .topo-togov-wrapper .topo-mobile-menu + .topo-mobile-menu-overlay {
    transition: none !important;
  }
}
.topo-togov-wrapper .topo-mobile-menu .topo-mobile-close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 1rem;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.topo-togov-wrapper .topo-mobile-menu .topo-mobile-close-btn:hover, .topo-togov-wrapper .topo-mobile-menu .topo-mobile-close-btn:focus-visible {
  background: #f1f1f1;
}
.topo-togov-wrapper .topo-mobile-menu ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 0;
}
.topo-togov-wrapper .topo-mobile-menu ul li {
  margin-bottom: 3rem;
}
.topo-togov-wrapper .topo-mobile-menu ul li a {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.topo-togov-wrapper .topo-mobile-menu .mobile-main-links span {
  color: #666;
}
.topo-togov-wrapper .topo-mobile-menu .mobile-social-links {
  margin-top: 50px;
}
.topo-togov-wrapper .topo-mobile-menu .mobile-social-links ul {
  display: inline-flex;
  gap: 1rem;
}
.topo-togov-wrapper .topo-mobile-menu .mobile-social-links li {
  width: 32px;
}
.topo-togov-wrapper .topo-mobile-menu .mobile-social-links li a, .topo-togov-wrapper .topo-mobile-menu .mobile-social-links li img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */